<div>
    <div class="tw-h-282-px tw-w-[100%] tw-bg-partner-bg-1 tw-absolute tw-z-[-1]"></div>
    <div class="tw-h-192-px tw-w-[100%] tw-bg-partner-bg-2 tw-absolute tw-top-40 tw-z-[-1]"></div>
    <div [formGroup]="form" class="tw-pt-40-px tw-px-42-px">
        <div class="tw-bg-white tw-shadow-partner-card tw-rounded-12-px">
            <div class="tw-h-74-px tw-flex tw-items-center tw-justify-between">
                <div class="tw-flex">
                    <div class="tw-pr-14-px tw-pl-24-px tw-text-20-px tw-font-500">
                        <p *ngIf="!isLoading">
                            My Clients ({{ clientsCount }})
                        </p>
                        <div *ngIf="isLoading" class="tw-flex">
                            <p class="tw-w-92-px tw-whitespace-nowrap">
                                My Clients
                            </p>
                            <p-skeleton class="tw-pl-10-px tw-w-40-px" height="25px" shape="rectangle"></p-skeleton>
                        </div>
                    </div>

                    <p class="tw-mr-24-px tw-h-30-px tw-w-1-px tw-rounded-4-px tw-bg-table-header"></p>

                    <div class="tw-text-sub-text-color tw-flex">
                        <span *ngIf="!isLoading">{{ totalActiveUsers }} Active users</span>
                        <p-skeleton *ngIf="isLoading" class="tw-pr-10-px tw-w-120-px" height="25px" shape="rectangle"></p-skeleton>
                    </div>
                </div>
                <div class="tw-flex">
                    <div class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" placeholder="Search"
                            class="p-inputtext p-component p-element ng-valid ng-touched ng-dirty tw-w-302-px !tw-h-42-px !tw-border-solid !tw-rounded-4-px" formControlName="search">
                    </div>
                    <div class="tw-pl-22-px tw-pr-24-px tw-text-12-px">
                        <div class="tw-bg-section-hover tw-rounded-8-px tw-h-40-px tw-flex tw-items-center">
                            <div class="tw-pl-6-px tw-pr-8-px">
                                <div [ngClass]="isDetailViewActive ? 'tw-bg-white' : 'tw-bg-section-hover'"
                                    class="tw-h-30-px tw-flex tw-items-center tw-rounded-6-px tw-cursor-pointer"
                                    (click)="switchView(ClientView.DETAIL)">
                                    <div class="tw-pl-10-px">
                                        <svg-icon-sprite width="20px" src="detail-view"
                                            [ngClass]="isDetailViewActive ? 'tw-text-normal-text-color' : 'tw-text-sub-text-color'">
                                        </svg-icon-sprite>
                                    </div>
                                    <div [ngClass]="isDetailViewActive ? 'tw-text-normal-text-color' : 'tw-text-sub-text-color'"
                                        class="tw-text-12-px tw-pl-6-px tw-pr-8-px">
                                        Detail
                                    </div>
                                </div>
                            </div>
                            <div class="tw-pr-8-px">
                                <div [ngClass]="!isDetailViewActive ? 'tw-bg-white' : 'tw-bg-section-hover'"
                                    class="tw-h-30-px tw-flex tw-items-center tw-rounded-6-px tw-cursor-pointer"
                                    (click)="switchView(ClientView.TABLE)">
                                    <div class="tw-pl-10-px">
                                        <svg-icon-sprite width="20px" src="table-view"
                                            [ngClass]="!isDetailViewActive ? 'tw-text-normal-text-color' : 'tw-text-sub-text-color'">
                                        </svg-icon-sprite>
                                    </div>
                                    <div [ngClass]="!isDetailViewActive ? 'tw-text-normal-text-color' : 'tw-text-sub-text-color'"
                                        class="tw-text-12-px tw-pl-6-px tw-pr-8-px">
                                        Table
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="tw-mt-20-px tw-mb-24-px tw-ml-24-px tw-w-[97%] tw-h-1-px tw-bg-table-header"></p>
            <div *ngIf="isDetailViewActive && form.value.search && clients.length === 0" class="tw-justify-center tw-items-center tw-flex tw-pt-[10%]">
                <!-- TODO: check height with zero state on simple search -->
                <app-zero-state-with-illustration></app-zero-state-with-illustration>
            </div>

            <app-client-card *ngIf="isDetailViewActive" [isLoading]="isLoading" [clients]="clients"></app-client-card>
            <app-client-table *ngIf="!isDetailViewActive" [form]="form" [isLoading]="isLoading" [hideLogo]="hideLogo" [clients]="clients"></app-client-table>

            <!-- TODO: align with design for both the view -->
            <app-paginator [totalCount]="clientsCount" [limit]="limit" [offset]="offset" (pageChangeEvent)="setupPage($event)"></app-paginator>
        </div>
    </div>
</div>
