<div class="tw-ml-24-px tw-w-[97%] max-xl:tw-h-62-vh tw-h-68-vh tw-overflow-y-scroll" (scroll)="onWindowScroll($event)">
    <p-table *ngIf="!isLoading" [columns]="columns" [value]="clients" [scrollable]="true" [rowHover]="true" sortMode="single" sortField="name">
        <ng-template pTemplate="header">
            <tr class="client-table--client-name" data-cy="data-row-head">
                <th pSortableColumn="name" class="client-table--client-name-col" data-cy="client-name">
                    Client Name
                    <p-sortIcon field="name" data-cy="sort-icon-client-name"></p-sortIcon>
                </th>
                <th pSortableColumn="billed_users_count" class="client-table--header client-table--active-users">
                    <p class="tw-flex">
                        <span class="tw-pr-10-px" data-cy="active-users-text">Active Users</span>
                        <svg-icon-sprite pTooltip="Active users of {{ currentMonth }}" tooltipPosition="bottom" src="info"
                            width="16px" height="16px"
                            class="tw-text-faded-icon hover:tw-text-table-row-hover"></svg-icon-sprite>
                    </p>
                    <p-sortIcon field="billed_users_count" data-cy="sort-icon-active-users"></p-sortIcon>
                </th>
                <th pSortableColumn="enabled_users_count" class="client-table--header" data-cy="total-users-text">
                    Total Users
                    <p-sortIcon field="enabled_users_count" data-cy="sort-icon-total-users"></p-sortIcon>
                </th>
                <th pSortableColumn="pending_users_count" class="client-table--header" data-cy="pending-invitation-text">
                    Pending Invitation
                    <p-sortIcon field="pending_users_count" data-cy="sort-icon-pending-invitation"></p-sortIcon>
                </th>
                <th pSortableColumn="incomplete_expenses_count" class="client-table--header" data-cy="incomplete-expenses-text">
                    Incomplete Expenses
                    <p-sortIcon field="incomplete_expenses_count" class="client-table--header" data-cy="sort-icon-incomplete-expenses"></p-sortIcon>
                </th>
                <th pSortableColumn="approval_pending_reports_count" class="client-table--header" data-cy="reports-to-approve-text">
                    Reports to Approve
                    <p-sortIcon field="approval_pending_reports_count" class="client-table--header" data-cy="sort-icon-reports-to-approve"></p-sortIcon>
                </th>
                <th pSortableColumn="pending_reimbursement_amount" class="client-table--header client-table--pending-reimbursements" data-cy="pending-reimbursements-text">
                    Pending Reimbursements
                    <p-sortIcon field="pending_reimbursement_amount" data-cy="sort-icon-pending-reimbursements"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr data-cy="row-data">
                <td class="client-table--client-name-col">
                    <img *ngIf="!hideLogo && client.logo_file_id" [src]="client.logo_file.download_url" width="46px" height="46px" class="tw-mr-26-px" />
                    <div *ngIf="!hideLogo && !client.logo_file_id" class="tw-p-14-px tw-bg-icon-background tw-rounded-4-px tw-mr-26-px">
                        <svg-icon-sprite src="client" width="20px" height="20px" class="tw-text-sub-text-color">
                        </svg-icon-sprite>
                    </div>
                    <p class="tw-font-500 tw-pb-4-px hover:tw-text-partner-hover tw-cursor-pointer" (click)="openOrg(client.id)">
                        {{ client.name }}
                    </p>
                </td>
                <td class="client-table--active-users">
                    {{ client.billed_users_count === 0 ? '-' : client.billed_users_count }}
                </td>
                <td class="client-table--row">
                    {{ client.enabled_users_count === 0 ? '-' : client.enabled_users_count }}
                    <a *ngIf="client.enabled_users_count !== 0" class="client-table--redirection client-table--view-in-fyle" (click)="redirect(ClientRedirectionType.TOTAL_USERS, client.id)" data-cy="view-hover-total-users">
                        View
                        <p class="tw-mx-8-px tw-h-16-px tw-w-1-px tw-rounded-4-px tw-bg-table-header"></p>
                        <svg-icon-sprite src="open-in-new-tab" width="16px" height="16px" class="tw-mt-2-px tw-text-table-row-hover tw-cursor-pointer" data-cy="view-svg-total-users">
                        </svg-icon-sprite>
                    </a>
                </td>
                <td class="client-table--row">
                    {{ client.pending_users_count === 0 ? '-' : client.pending_users_count }}
                    <a *ngIf="client.pending_users_count !== 0" class="client-table--redirection client-table--view-in-fyle" (click)="redirect(ClientRedirectionType.PENDING_INVITATION, client.id)" data-cy="view-hover-pending-invitation">
                        View
                        <p class="tw-mx-8-px tw-h-16-px tw-w-1-px tw-rounded-4-px tw-bg-table-header"></p>
                        <svg-icon-sprite src="open-in-new-tab" width="16px" height="16px" class="tw-mt-2-px tw-text-table-row-hover tw-cursor-pointer" data-cy="view-svg-pending-invitation">
                        </svg-icon-sprite>
                    </a>
                </td>
                <td class="client-table--row">
                    {{ client.incomplete_expenses_count === 0 ? '-' : client.incomplete_expenses_count }}
                    <a *ngIf="client.incomplete_expenses_count !== 0" class="client-table--redirection client-table--view-in-fyle" (click)="redirect(ClientRedirectionType.INCOMPLETE_EXPENSES, client.id)" data-cy="view-hover-incomplete-expenses">
                        View
                        <p class="tw-mx-8-px tw-h-16-px tw-w-1-px tw-rounded-4-px tw-bg-table-header"></p>
                        <svg-icon-sprite src="open-in-new-tab" width="16px" height="16px" class="tw-mt-2-px tw-text-table-row-hover tw-cursor-pointer" data-cy="view-svg-incomplete-expenses">
                        </svg-icon-sprite>
                    </a>
                </td>
                <td class="client-table--row">
                    {{ client.approval_pending_reports_count === 0 ? '-' : client.approval_pending_reports_count }}
                    <a *ngIf="client.approval_pending_reports_count !== 0" class="client-table--redirection client-table--view-in-fyle" (click)="redirect(ClientRedirectionType.REPORTS_TO_APPROVE, client.id)" data-cy="view-hover-pending-reports">
                        View
                        <p class="tw-mx-8-px tw-h-16-px tw-w-1-px tw-rounded-4-px tw-bg-table-header"></p>
                        <svg-icon-sprite src="open-in-new-tab" width="16px" height="16px" class="tw-mt-2-px tw-text-table-row-hover tw-cursor-pointer" data-cy="view-svg-pending-reports">
                        </svg-icon-sprite>
                    </a>
                </td>
                <td class="client-table--pending-reimbursements client-table--row">
                    {{ client.pending_reimbursement_amount | currency: client.currency }}
                    <a class="client-table--redirection client-table--view-in-fyle tw-justify-between tw-w-150-px" (click)="redirect(ClientRedirectionType.PENDING_REIMBURSEMENTS, client.id)" data-cy="view-hover-pending-reimbursements">
                        <div class="tw-flex tw-items-center">
                            View
                            <p class="tw-mx-8-px tw-h-16-px tw-w-1-px tw-rounded-4-px tw-bg-table-header"></p>
                            <svg-icon-sprite src="open-in-new-tab" width="16px" height="16px" class="tw-mt-2-px tw-text-table-row-hover tw-cursor-pointer" data-cy="view-svg-pending-reimbursements">
                            </svg-icon-sprite>
                        </div>
                        <div class="tw-border-table-header tw-border-1-px tw-bg-white tw-rounded-4-px tw-w-38-px tw-h-38-px tw-flex tw-items-center tw-justify-center" (click)="redirect(ClientRedirectionType.FYLE_ADMIN, client.id)">
                            <svg-icon-sprite src="open-in-new-tab" width="16px" height="16px" class="tw-mt-2-px tw-text-open-org tw-cursor-pointer">
                            </svg-icon-sprite>
                        </div>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Shimmers -->
    <p-table *ngIf="isLoading" [columns]="columns" [value]="[0, 1, 2, 3, 4, 5, 6, 7, 8]" [scrollable]="true" [rowHover]="true" sortMode="single" sortField="name">
        <ng-template pTemplate="header">
            <tr class="client-table--client-name">
                <th pSortableColumn="name" class="client-table--client-name-col">
                    Client Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="billed_users_count" class="client-table--header client-table--active-users">
                    <p class="tw-flex">
                        <span class="tw-pr-10-px">Active Users</span>
                        <svg-icon-sprite pTooltip="Active users of {{ currentMonth }}" tooltipPosition="bottom" src="info"
                            width="16px" height="16px"
                            class="tw-text-faded-icon hover:tw-text-table-row-hover"></svg-icon-sprite>
                    </p>
                    <p-sortIcon field="billed_users_count"></p-sortIcon>
                <th pSortableColumn="enabled_users_count" class="client-table--header">
                    Total Users
                    <p-sortIcon field="enabled_users_count"></p-sortIcon>
                </th>
                <th pSortableColumn="pending_users_count" class="client-table--header">
                    Pending Invitation
                    <p-sortIcon field="pending_users_count"></p-sortIcon>
                </th>
                <th pSortableColumn="incomplete_expenses_count" class="client-table--header">
                    Incomplete Expenses
                    <p-sortIcon field="incomplete_expenses_count" class="client-table--header"></p-sortIcon>
                </th>
                <th pSortableColumn="approval_pending_reports_count" class="client-table--header">
                    Reports to Approve
                    <p-sortIcon field="approval_pending_reports_count" class="client-table--header"></p-sortIcon>
                </th>
                <th pSortableColumn="pending_reimbursement_amount" class="client-table--header client-table--pending-reimbursements">
                    Pending Reimbursements
                    <p-sortIcon field="pending_reimbursement_amount"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr>
                <td class="client-table--client-name-col tw-flex">
                    <p-skeleton class="tw-w-46-px" height="46px" shape="rectangle"></p-skeleton>
                    <p-skeleton class="tw-ml-34-px tw-w-160-px" height="18px" shape="rectangle"></p-skeleton>
                </td>
                <td><p-skeleton class="client-table--shimmer-col" height="18px" shape="rectangle"></p-skeleton></td>
                <td><p-skeleton class="client-table--shimmer-col" height="18px" shape="rectangle"></p-skeleton></td>
                <td><p-skeleton class="client-table--shimmer-col" height="18px" shape="rectangle"></p-skeleton></td>
                <td><p-skeleton class="client-table--shimmer-col" height="18px" shape="rectangle"></p-skeleton></td>
                <td><p-skeleton class="client-table--shimmer-col" height="18px" shape="rectangle"></p-skeleton></td>
                <td><p-skeleton class="client-table--shimmer-col" height="18px" shape="rectangle"></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="form.value.search && clients?.length === 0" class="max-xl:tw-h-62-vh tw-h-68-vh tw-justify-center tw-items-center tw-flex">
        <app-zero-state-with-illustration></app-zero-state-with-illustration>
    </div>
</div>
