/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply tw-h-[100%];
}

body {
  @apply tw-m-0-px tw-text-normal-text-color tw-font-sage-ui tw-text-16-px;
}

p {
  @apply tw-m-0-px;
}

// Button CTA
.p-button {
  @apply tw-w-[100%] tw-rounded-[32px] tw-text-14-px tw-shadow-none tw-border-none tw-bg-primary-color tw-text-white tw-py-8-px tw-px-24-px #{!important};
}

.p-button.p-button-raised {
  @apply tw-justify-center  #{!important};
}

.p-button-label {
  @apply tw-flex-none #{!important};
}

.p-button:enabled:hover {
  @apply tw-shadow-btn-cta-shadow #{!important};
}

// Spinner
.p-progress-spinner-circle {
  @apply tw-animate-progress-spinner #{!important};
}

// Tooltip
.p-tooltip .p-tooltip-text {
  @apply
  tw-bg-slightly-normal-text-color
  tw-text-white
  tw-text-12-px
  tw-py-6-px
  tw-px-8-px
  tw-h-auto
  tw-break-words
  tw-whitespace-normal
  tw-overflow-visible
  tw-font-500 tw-font-sage-ui #{!important}
}

.p-tooltip {
  &.p-tooltip-bottom {
    .p-tooltip-arrow {
      @apply
      tw-border-b-[#2C304E] #{!important};
    }
  }
}

// Input text
.p-inputtext {
  @apply tw-text-14-px tw-border-table-header #{!important};
}

.p-inputtext:enabled:focus {
  @apply tw-shadow-none tw-border-sub-text-color #{!important};
}

.p-input-icon-left > i:first-of-type {
  @apply tw-text-faded-icon #{!important};
}

// Table
.p-datatable .p-sortable-column:focus {
  @apply tw-shadow-none tw-bg-grid-heading #{!important};
}

.p-datatable .p-sortable-column.p-highlight {
  @apply tw-text-sort-icon tw-bg-grid-heading  #{!important};
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  @apply tw-text-sort-icon #{!important};
}

.p-datatable .p-datatable-thead > tr > th {
  @apply tw-py-12-px tw-px-22-px tw-text-12-px tw-text-slightly-normal-text-color tw-bg-bg-tertiary tw-border-1-px tw-border-r-0 tw-border-table-header #{!important};
}

.pi-sort-alt:before {
  @apply tw-hidden;
}

.p-datatable .p-datatable-tbody > tr > td {
  @apply tw-h-70-px tw-p-0 tw-text-14-px #{!important};
}

.p-dropdown .p-dropdown-label {
  @apply tw-h-32-px tw-text-12-px #{!important};

  &.p-inputtext {
    @apply tw-px-3 tw-py-2 #{!important};
  }
}

.p-dropdown .p-dropdown-trigger {
  @apply tw-w-0 tw-pr-16-px #{!important};
}

.p-dropdown-panel .p-dropdown-items {
  @apply tw-text-12-px #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  @apply tw-bg-bg-tertiary tw-text-primary-color #{!important};
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
  @apply tw-bg-bg-tertiary #{!important};
}

.p-datatable .p-datatable-tbody > tr:nth-child(even):hover {
  @apply tw-bg-bg-tertiary #{!important};
}

.p-datatable .p-datatable-tbody > tr:nth-child(odd):hover {
  @apply tw-bg-transparent #{!important};
}

.p-dropdown:focus,
.p-dropdown.p-focus {
  @apply tw-outline-none tw-shadow-none #{!important};
}