name: End to End Tests on PR Approval - Staging

on: [push]

jobs:
  end-to-end-test:
    if: (github.event_name == 'pull_request_review' && github.event.review.state == 'approved') || (github.event_name == 'pull_request' && github.event.action == 'labeled' && github.event.label.name == 'run e2e tests')
    runs-on: macos-latest
    environment: End to End Test - Staging
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5]
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: 'always'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14.18
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            src:
              - 'src/**'
      - name: Install dependencies
        if: steps.filter.outputs.src == 'true'
        run: npm install --prefix cypress
      - name: Prepare for end to end tests
        if: steps.filter.outputs.src == 'true'
        run: npm run setup:env
      - name: Cypress run
        if: steps.filter.outputs.src == 'true'
        uses: cypress-io/github-action@v4
        with:
          record: true
          browser: chrome
          tag: ${{ secrets.E2E_TESTS_ENV }}
      - name: 'Upload screenshots and videos to Slack'
        uses: trymbill/cypress-slack-video-upload-action@v1.3.0
        if: failure()
        with:
          token: ${{ secrets.SLACK_TOKEN }}
          channels: 'integration_github_events'
          message-text: ':pepe-dance: End to End tests (on staging) just got completed. I have placed the screenshots and videos in this thread :pepe-dance:'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
      COMMIT_INFO_MESSAGE: ${{github.event.pull_request.title}}
      COMMIT_INFO_SHA: ${{github.event.pull_request.head.sha}}
      APP_URL: ${{ secrets.APP_URL }}
      API_URL: ${{ secrets.API_URL }}
      E2E_TESTS_ENV: ${{ secrets.E2E_TESTS_ENV }}
      E2E_TESTS_REFRESH_TOKEN: ${{ secrets.E2E_TESTS_REFRESH_TOKEN }}
      E2E_TESTS_ORG_ID: ${{ secrets.E2E_TESTS_ORG_ID }}
