name: Unit Test

on:
  pull_request:
    types: [assigned,  opened,  synchronize,  reopened]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      uses: actions/setup-node@v1
      with:
        node-version: 14.18
    - name: Install dependencies
      run: npm install
    - name: Test
      run: npm run unit_test:ci
      env:
        FYLE_CLIENT_ID: ${{secrets.FYLE_CLIENT_ID}} 
        CALLBACK_URI: ${{secrets.CALLBACK_URI}} 
        API_URL: ${{secrets.API_URL}} 
        FYLE_APP_URL: ${{secrets.FYLE_APP_URL}} 
    - name: Unit Test Coverage
      uses: fylein/comment-test-coverage@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        path: coverage/coverage-summary.json
        title: Unit Test Coverage
